* {
  font-family: "rubik", sans-serif;
  margin: 0 auto;
  padding: 10px;
  background-color: #f8f8ff;
  /* font-size: 100px; */
}

.whole {
  background-color: #2086b6;
}

.animate__animated.animate__bounce {
  --animate-duration: 2s;
}

.head {
  font-size: 20px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  /* margin-bottom: 90px; */
}

.content {
  /* margin-bottom: 90px; */
}

.content-12 {
  font-size: 22px;
  text-align: justify;
  padding-bottom: 50px;
}

.content2 {
  padding-left: 20px;
}

.wrap {
  display: flex;
  flex-direction: row;
  text-align: justify;
  font-size: 21px;
}

.pi {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  background-color: #333;
  color: #fff;
}

.highlight {
  font-weight: bold;
}

.heading {
  padding: 30px;
}

.heading2 {
  margin-bottom: 30px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 450px;
  margin-bottom: 80px;
}

.table1 {
  width: 600px;
}

.table2 {
  width: 600px;
}

.table3 {
  font-size: 22px;
  margin-top: 30px;
  width: 900px;
  padding: 20px;
}

.firstimg {
  margin-bottom: 30px;
}

th {
  font-weight: bold;
}

h1 {
  font-size: 48px;
}

td,
th {
  border: 1px solid #000000;
  text-align: left;
  padding: 9px;
  /* padding-right: 80px; */
}

ul {
  margin-left: 30px;
  font-size: 22px;
  list-style: square;
  text-align: justify;
}

li {
  text-align: justify;
}

.foot {
  text-align: center;
}

.foot2 {
  font-size: 19px;
  text-align: right;
}
